<!DOCTYPE html>
<html>
    <head>
        <title>options</title>
        <link rel="stylesheet" type="text/css" href="options.css">
    </head>
    <body>
        <p>Click inside the input and press your preferred key to change SVG copying shortcut.</p>

        <input id="input" type="text"/>
        <div>
            <p>Current trigger to copy is <strong><span id="currentKey"></span> + CLICK </strong></p>
        </div>
        <p>Note that you need to reload the target window for the change to work.</p>
    </body>
    <script src="options.js"></script>
</html>
